<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sign in</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="signInForm" id="sign-in">
    <ion-list class="ion-text-center">

      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input formControlName="email" type="email" placeholder="user@domain.com" name="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input formControlName="password" type="password" placeholder="password" name="password"></ion-input>
      </ion-item>

      <ion-button [disabled]="!signInForm.valid" expand="block" type="submit" color="secondary" (click)="signIn()">Sign in</ion-button>
      <ion-label (click)="forgotPassword()">Forgot password?</ion-label>
      <ion-item>
        <ion-label class="sign-up-label">Don't have an account?</ion-label>
      </ion-item>

      <div class="button-center">
        <ion-button type="button" fill="clear" (click)="signUp()">
          Sign up
        </ion-button>
      </div>

    </ion-list>
  </form>
</ion-content>
