<ion-header>
  <ion-toolbar *ngIf="detail">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    
    <ion-title>Detail for {{detail.Name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="detail">
  <ion-row>
    <ion-label position="stacked">{{detail.name}}</ion-label>
  </ion-row>

  <ion-row>
    <ion-col class="img-container">
        <img src="{{detail.photoUrl}}" />
    </ion-col>
  </ion-row>

  <ion-row>
    Platform: {{detail.Platform}}
  </ion-row>

  <ion-row>
    <ion-button (click)="onClick()">
      Click me
    </ion-button>
  </ion-row>

</ion-content>