<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    
    <ion-title>Product Details</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="goToShopCart()"><ion-icon name="cart"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="detail">
  <ion-row class="ion-justify-content-center">
    <ion-label>{{detail.Name}}</ion-label>
  </ion-row>

  <ion-row>
    <ion-col class="img-container">
        <img src="{{detail.photoUrl}}" />
    </ion-col>
  </ion-row>

  <ion-row>
    Platform: {{detail.Platform}}
  </ion-row>

</ion-content>

<ion-footer *ngIf="detail">
  <ion-button (click)="addToCart()">
    
    <ion-icon name="cart"></ion-icon>   Add to cart
  </ion-button>
</ion-footer>