img{
    width:auto; 
    object-fit: cover;
}

h3{
    font-size: 17px;
}

p{
    font-size: 14px;
}

.card{
    border: 2px inset #00b909;
    margin: 5px;
}

.purchaseBtn {
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
  }